# Ignore Visual Studio temporary files
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.ipch

# Ignore build results
[Bb]in/
[Oo]bj/

# Ignore CMake output
CMakeFiles/
CMakeCache.txt
*.cmake
*.ninja
build/

# Ignore logs
*.log
